<p *ngIf="!moodFaces"><em>Loading...</em></p>


<div *ngIf="moodFaces" class="row">
  <div class="card" style="margin: auto; margin-top: 50px;">
  <div class="card-content">
      <span class="card-title">Gestion des types d'humeur</span>
      <table class='table table-striped highlight' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Image</th>
            <th>Actif</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="waves-effect waves-light btn right" [routerLink]="['/MoodFacesCreate/']"><i class="material-icons right">add</i>Ajouter</a></td>
          </tr>
          <tr *ngFor="let moodFace of moodFaces">
            <td>{{ moodFace.id }}</td>
            <td>{{ moodFace.label }}</td>
            <td><img src="/assets/{{ moodFace.picture }}" style="height: 30px">{{ moodFace.picture }}</td>
            <td>{{ moodFace.isActive }}</td>
            <td><a class="waves-effect waves-light btn right" [routerLink]="['/MoodFacesEdit/', moodFace.id]"><i class="material-icons right">edit</i>Modifier</a></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<!-- Modal Structure -->
<div class="modal">
  <div class="modal-content">
    <h4>Confirmation</h4>
    <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
  </div>
  <div class="modal-footer">
    <a (click)="deleteSelectedMoodFace()" class="modal-close waves-effect waves-green btn-flat">OUI</a>
  </div>
</div>
